body {
  height: 100vh;
  background: linear-gradient(180deg, #615dad, #ffc8da);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil {
  color: #ffffff;
  background-color: #283e50;
  width: 380px;
  font-family: sans-serif;
  text-align: center;
  margin: 40px;
}

.foto {
  width: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
}

p {
  padding: 20px;
  margin: 0;
}

.tlacitka li {
  list-style-type: none;
  padding: 20px 0;
  border-top: 2px solid rgb(66, 65, 65);
}

ul.tlacitka {
  margin: 0;
  padding: 0;
}

.pravidla {
  background-color: #1fcca4;
}

.hra {
  background-color: #0197f6;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.hra:hover {
  background-color: #0090e9;
}
