body {
  background: linear-gradient(180deg, #615dad, #ffc8da);
}

.profil {
  color: #ffffff;
  background-color: #283e50;
  width: 400px;
  font-family: sans-serif;
  text-align: center;
}

.foto {
  width: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
}

p {
  padding: 20px;
  margin: 0px;
}

.tlacitka li {
  list-style-type: none;
  padding: 20px 0;
}

ul.tlacitka {
  margin: 0;
  padding: 0;
}

/*
Další barvy, které se ti budou hodit:
Tlačítko Pravidla #1fcca4. A po najetí myši #1cbb96.
Tlačítko Začít hrát #0197f6. Po najetí #0090e9.

*/
