.body {
  background-color: linear-gradient(#615dad, #ffc8da);
}

.profil {
  color: #ffffff;
  background-color: #283e50;
  width: 400 px;
  font-family: sans-serif;
}

.foto {
  width: 100%;
}

h1 {
  font-family: 'Lobster', cursive;
}

.odkazy {
  list-style-type: none;
}

/*
Další barvy, které se ti budou hodit:
Tlačítko Pravidla #1fcca4. A po najetí myši #1cbb96.
Tlačítko Začít hrát #0197f6. Po najetí #0090e9.

*/
